################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week1/Day4/UserManagementAPI/bin/Debug/net8.0
/Week1/Day4/UserManagementAPI/.vs/UserManagementAPI
/Week1/Day4/UserManagementAPI/obj
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/bin/Debug/net8.0
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/obj
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs/DemoMicroserviceAppWithDocker/FileContentIndex
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs/DemoMicroserviceAppWithDocker/v17/.suo
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/.vs
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/obj
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/DemoMicroserviceAppWithDocker.dll
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/DemoMicroserviceAppWithDocker.exe
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/DemoMicroserviceAppWithDocker.pdb
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/DemoMicroserviceAppWithDocker.runtimeconfig.json
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Week1/Day5/KubernetesImplementationAndConfiguration/UserService/obj
/Week1/Day5/KubernetesImplementationAndConfiguration/UserService/bin/Debug/net8.0
/Week1/Day5/KubernetesImplementationAndConfiguration/UserService/.vs/UserService
/Week1/Day5/KubernetesImplementationAndConfiguration/ProductService/obj
/Week1/Day5/KubernetesImplementationAndConfiguration/ProductService/.vs/ProductService
/Week1/Day5/KubernetesImplementationAndConfiguration/ProductService/bin/Debug/net8.0
/Week1/Day5/KubernetesImplementationAndConfiguration/UserService/.vs/ProjectEvaluation
