################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week1/Day4/UserManagementAPI/bin/Debug/net8.0
/Week1/Day4/UserManagementAPI/.vs/UserManagementAPI
/Week1/Day4/UserManagementAPI/obj
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/bin/Debug/net8.0
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/obj
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs/DemoMicroserviceAppWithDocker/FileContentIndex
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs/DemoMicroserviceAppWithDocker/v17/.suo
/Week1/Day5/Day5-1 Docker implementation and configuration step by step process in ASPNET microservices/DemoMicroserviceAppWithDocker/.vs
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/.vs
/Week1/Day5/DockerImplementationAndConfiguration/DemoMicroserviceAppWithDocker/obj
